:root{
  --Light-red: hsl(0, 100%, 92%); 
  --Orangey-yellow: hsl(39, 100%, 92%);
  --Green-teal: hsl(166, 100%, 92%);
  --Cobalt-blue: hsl(234, 85%, 92%);
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --max-width:375px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Hanken Grotesk', sans-serif;
  width: var(--max-width);
  background-color: #222;
}
.main{
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-top: -150px;
}
.main .cover1{
  z-index: 3;
}
.main .cover2{
  position: absolute;
  top: 500px;
  border-radius: 0;
  padding-top: 2rem;
}
.main .cover1 .sub2 p{
  font-size: 12px;
}
.main .cover2 h2{
  padding-top: 2rem;
  font-size: 18px;
}